<footer id="footer">
  <div id="footer-inner" class="text-center">
    <p>© Copyright 2015 <%= link_to 'AirBnBridge', root_path %></p>
    <p>
      <i class="fa fa-facebook-official"></i>
      <i class="fa fa-twitter"></i>
      <i class="fa fa-linkedin"></i>
    </p>
  </div>
</footer>
